<!DOCTYPE html>
<html>
    <head>
        <script>
            function removeiframes() {
                const iframes = document.querySelectorAll('iframe');
                for (let i=0; i<iframes.length; i++) {
                    iframes[i].remove();
                }
                console.log("hello world");
            }
        </script>
    </head>
    <body>
        <iframe src="https://en.wikipedia.org/wiki/Donald_Trump" width="100%" height="100%"></iframe>
         <input type="text" id="myInput"/>
         <h1 style="display: none;"><script src="">console.log("hello world")</script></h1>
         <h1>file upload form</h1>
         <form action="/upload-file" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button onclick="uploadFile(event)">Upload</button>
         </form>
         <script>
            const uploadFile = (event) => {
                event.preventDefault(); // Prevent the default form submission
                const form = document.querySelector('form');
                const formData = new FormData(form);
                fetch('/upload-file', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                });
            }
            // Get the input element
            var input = document.getElementById("myInput");

            // Add an event listener for the "input" event
            input.addEventListener("input", function() {
                // Get the current value of the input
                var value = input.value;
                // Log the value to the console
                console.log(value);
                // Update the h1 element with the current value
                document.querySelector("h1").innerText = value;
            });
         </script>
    </body>
</html>